* {
    box-sizing: border-box;
}
body {
    background-color: whitesmoke;
}
.wu-dark {
    background-color: rgb(26, 209, 157);
}

.container {
    width: 100%;
    margin-top: 30px;
}
.about-me {

}
.container-contact {
    margin-top: 20px;
    width: 100%;
    height: auto;
}

.jumbotron {
    width: 100%;
    float: left;
}

form {
    width: 100%;
    
}

img {
    float:left;
    margin-right: 10px;

}

h1 {
    text-align: center;
    color: darkslategray;
    font-size: 30px;
}
.accordion h1{

    font-size: 40px;





/* Media Queries*/












