* {
    box-sizing: border-box;
}
body {
    background-color: whitesmoke;
}

/* navbar color */
.wu-dark {
    background-color:rgb(65, 16, 226);
}

.container {

    width: 100%;
    margin-top: 30px;
    height: auto;
}

/* about page jumbo */
.jumbotron {
    width: 100%;
    float: left;
    height: auto;

}
/* contact page jumbotron */
.jumbotron-contact {
    width: 100%;
}
/* About Me button */
button {
    border-color: rgb(65, 16, 226);
    border-radius: 0;
    border-width: 1px;
}
/* contact page button */
.btn-link {
    color:rgb(65, 16, 226)
}
/* contact page button */
.btn-outline-success {
    border-color: rgb(65, 16, 226);
}
/* contact page button */
.btn-index {
    font-size: 30px;
    color:rgb(65, 16, 226)
}
/* portfolio page button */
.btn-primary {
   background-color: rgb(65, 16, 226);
}

/* contact page form */
form {
    width: 100%;
}

img {
    float:left;
    display:flex;
    margin-right: auto;
    margin-left: auto;
}

.wylieImg {
align-content: center;
display: flex;
justify-content: center;
object-fit: contain;
align-self: center;
}

accordion {
    margin-top: 20px;
}

.accordion h1 {

    font-size: 40px;

}

.saira {
    color:black;
}
aside {
    text-align: center;
    margin-left: 0px;
    margin-top: 70px;
    
}

.carousel-control-prev, .carousel-control-next {
    background-color: grey;
}



/* Media Queries*/

@media (min-width: 992px) { 
    /* On screens with a minimum width of 992 px, set card-body float to left, and contact margin to 0px */
    .card-body {
        float: left;
    }
    .contact {
        margin: 0px;
    
    }
    
 }

 @media (min-width: 768px) { 
     /* screens with minimum width of 768px, set contact' margin-top to 60px */
     .contact {
         margin-top: 60px;
        
     }
    
  }

  @media (max-width: 768px) { 
     /*on screens that 768px or less, set margin bottom to 20px */
    .wylieImg {
        margin-bottom: 20px;
    }
    aside {
        margin-bottom: 60px;
    }
   }

   
   





  








