* {
    box-sizing: border-box;
}
body {
    background-color: #FBFAF9;
}


.wu-dark {
    background-color:rgb(46, 46, 141);
    
} 


.container {

    width: 100%;
    margin-top: 30px;
    height: auto;
}

/* about page jumbo */
.jumbotron {
    width: 100%;
    float: left;
    height: auto;

}
/* contact page jumbotron */
.jumbotron-contact {
    width: 100%;
}
/* About Me button */
button {
    border-color: rgb(65, 16, 226);
    border-radius: 0;
    border-width: 1px;
}
/* contact page button */
.btn-link {
    color:rgb(65, 16, 226)
}
/* contact page button */
.btn-outline-success {
    border-color: rgb(65, 16, 226);
}
/* contact page button */
.btn-index {
    font-size: 30px;
    color:rgb(65, 16, 226)
}
/* portfolio page button */
.btn-primary {
   background-color: rgb(65, 16, 226);
}

/* contact page form */
form {
    width: 100%;
}

img {
    float:left;
    display:flex;
    margin-right: auto;
    margin-left: auto;
}

.wylieImg {
align-content: center;
display: flex;
justify-content: center;
object-fit: contain;
align-self: center;
}

accordion {
    margin-top: 20px;
}

.accordion h1 {

    font-size: 40px;

}

.saira {
    color:black;
}
aside {
    text-align: center;
    margin-left: 0px;
    margin-top: 70px;
    
}

ul {
    list-style-type: none;
  }

.carousel-control-prev, .carousel-control-next {
    background-color: grey;
}
.carousel-control-prev-icon{
    position: relative;
    top:10px;
}

.carousel-control-next-icon{
    position: relative;
    top:10px;
}

.main{
    margin-top: 12.0rem;
    margin-bottom:12.5rem;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
   
}

 .main-content{
    grid-area: content;
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
    line-height: 1.65rem;
    padding: 10px 0;
}


.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 60px;
  }

  footer{
      display: flex;
      width: 200px;
      margin: auto;
      justify-content: center;
  }
  .contact-info{
      
      cursor: pointer;
      
  }

  .contact-icon{
      padding: 5px;
  }

  a{
      color: black;
  }

  span {
      position: absolute;
      right: 5%;
      top: 5%;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
}


/* Media Queries*/

@media (min-width: 992px) { 
    /* On screens with a minimum width of 992 px, set card-body float to left, and contact margin to 0px */
    .card-body {
        float: left;
    }
    .contact {
        margin: 0px;
    
    }
    
 }

 @media (min-width: 768px) { 
     /* screens with minimum width of 768px, set contact' margin-top to 60px */
     .contact {
         margin-top: 60px;
        
     }
    
  }

  @media (max-width: 768px) { 
     /*on screens that 768px or less, set margin bottom to 20px */
    .wylieImg {
        margin-bottom: 20px;
    }
    aside {
        margin-bottom: 60px;
    }
   }

   
   
   





  








